.notice:not(.oneteamsoftware,#wc-products-visibility-general_box),
.is-dismissible:not(#woocommerce_errors),
.woocommerce-message:not(.oneteamsoftware),
.updated:not(.oneteamsoftware),
.error:not(.oneteamsoftware,#wc-products-visibility-general_box),
.promotion:not(.oneteamsoftware) {
	display: none !important;
}

table.form-table input.regular-input,
table.form-table input[type=date],
table.form-table input[type=datetime-local],
table.form-table input[type=datetime],
table.form-table input[type=email],
table.form-table input[type=number],
table.form-table input[type=password],
table.form-table input[type=tel],
table.form-table input[type=text],
table.form-table input[type=time],
table.form-table input[type=url],
table.form-table input[type=week],
table.form-table textarea {
	width: 400px;
	margin: 0;
	box-sizing: border-box;
	vertical-align: top;
}